<div>
  <div style="margin-left: 210px; margin-top: 10px">
    <div :style="canvasStyle">
      <div :style="styleGuideStyle">
        <div v-for="r in renderResults">
          <div :style="{ left: r.x + 'px', top: r.y + 'px', position: 'absolute' }">
            <div v-html="r.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div :style="maskStyle" @wheel="canvasWheel" @mousedown="canvasMousedown" @mouseup="canvasMouseup"></div>
  </div>
  <div v-if="selection.kind === 'content'">
    <div v-if="selection.content.kind === 'text'">
      <input type="text" :value="selection.content.text" @change="changeText" />
    </div>
    <div v-if="selection.content.kind === 'image'">
      <input type="text" :value="selection.content.url" @change="changeImageUrl" />
    </div>
  </div>
  <button @click="applyChanges()">apply changes</button>
  <input type="checkbox" v-model="auto">
  auto
</div>
