<div>
  <div style="margin-left: 210px; margin-top: 10px; position: absolute">
    <div :style="canvasStyle">
      <div :style="styleGuideStyle">
        <div v-for="r in canvasState.renderResults">
          <div :style="{ left: r.x + 'px', top: r.y + 'px', position: 'absolute' }">
            <div v-html="r.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="canvasState.mousePressing && canvasState.isDragging" :style="draggingAreaStyle"></div>
    <canvas-mask :canvasState="canvasState"></canvas-mask>
  </div>
  <editor-panel :canvasState="canvasState"></editor-panel>
</div>
