<div :style="panelStyle">
  <div v-if="canvasState.selection.kind === 'content'">
    <div v-if="canvasState.selection.content.kind === 'text'">
      text
      <input type="text" :value="canvasState.selection.content.text" @change="changeText" />
      <br />
      text f(x)
      <input type="text" :value="canvasState.selection.content.textExpression" @change="changeTextExpression" />
      <br />
      font family
      <input type="text" :value="canvasState.selection.content.fontFamily" @change="changeFontFamily" />
      <br />
      font size
      <input type="number" :value="canvasState.selection.content.fontSize" @change="changeFontSize" />
      <br />
      font size f(x)
      <input type="text" :value="canvasState.selection.content.fontSizeExpression" @change="changeFontSizeExpression" />
      <br />
      color
      <input type="color" :value="canvasState.selection.content.color" @change="changeColor" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'image'">
      url
      <input type="text" :value="canvasState.selection.content.url" @change="changeImageUrl" />
      <br />
      url f(x)
      <input type="text" :value="canvasState.selection.content.urlExpression" @change="changeImageUrlExpression" />
      <div>
        opacity
        <input type="number" :value="canvasState.selection.content.opacity" @change="changeOpacity" />
      </div>
    </div>
    <div v-if="canvasState.selection.content.kind === 'color'">
      color
      <input type="color" :value="canvasState.selection.content.color" @change="changeColor" />
    </div>
    <div>
      x
      <input type="number" :value="canvasState.selection.content.x" @change="changePosition($event, 'x')" />
    </div>
    <div>
      x f(x)
      <input type="text" :value="canvasState.selection.content.xExpression"
        @change="changePositionExpression($event, 'x')" />
    </div>
    <div>
      y
      <input type="number" :value="canvasState.selection.content.y" @change="changePosition($event, 'y')" />
    </div>
    <div>
      y f(x)
      <input type="text" :value="canvasState.selection.content.yExpression"
        @change="changePositionExpression($event, 'y')" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'text' || canvasState.selection.content.kind === 'image' || canvasState.selection.content.kind === 'color'">
      <div>
        width
        <input type="number" :value="canvasState.selection.content.width" @change="changeSize($event, 'width')" />
      </div>
      <div>
        width f(x)
        <input type="text" :value="canvasState.selection.content.widthExpression"
          @change="changeSizeExpression($event, 'width')" />
      </div>
      <div>
        height
        <input type="number" :value="canvasState.selection.content.height" @change="changeSize($event, 'height')" />
      </div>
      <div>
        height f(x)
        <input type="text" :value="canvasState.selection.content.heightExpression"
          @change="changeSizeExpression($event, 'height')" />
      </div>
    </div>
    <template v-if="canvasState.selection.content.kind === 'snapshot'">
      <div v-for="(content, i) of canvasState.selection.content.snapshot.contents">
        <div style="cursor: pointer" @click="selectContent(content)">content {{i}}: {{content.kind}}</div>
      </div>
    </template>
    <div>
      hidden
      <input type="checkbox" :checked="canvasState.selection.content.hidden" @change="changeHidden" />
    </div>
    <div>
      if
      <input type="text" :value="canvasState.selection.content.if" @change="changeIf" />
    </div>
    <div>
      repeat
      <input type="text" :value="canvasState.selection.content.repeat" @change="changeRepeat" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'reference'">
      props
      <span style="opacity: 0.5">{{canvasState.selection.content.props}}</span>
      <div v-if="parameters">
        <div v-for="parameter of parameters">
          {{parameter}}
          <input type="text" :value="getParameterValue(parameter)" @change="changeParameterValue($event, parameter)" />
        </div>
      </div>
    </div>
    <div v-if="canvasState.selection.content.kind === 'text' || canvasState.selection.content.kind === 'image' || canvasState.selection.content.kind === 'color'">
      <button @click="extractAsComponent()">extract as component</button>
    </div>
  </div>
  <div v-if="canvasState.selection.kind === 'template'">
    <div>
      x
      <input type="number" :value="canvasState.selection.template.x" @change="changePosition($event, 'x')" />
    </div>
    <div>
      y
      <input type="number" :value="canvasState.selection.template.y" @change="changePosition($event, 'y')" />
    </div>
    <div>
      width
      <input type="number" :value="canvasState.selection.template.width" @change="changeSize($event, 'width')" />
    </div>
    <div>
      width f(x)
      <input type="text" :value="canvasState.selection.template.widthExpression"
        @change="changeSizeExpression($event, 'width')" />
    </div>
    <div>
      height
      <input type="number" :value="canvasState.selection.template.height" @change="changeSize($event, 'height')" />
    </div>
    <div>
      height f(x)
      <input type="text" :value="canvasState.selection.template.heightExpression"
        @change="changeSizeExpression($event, 'height')" />
    </div>
    <div v-for="(content, i) of canvasState.selection.template.contents">
      <div style="cursor: pointer" @click="selectContent(content)">content {{i}}: {{content.kind}}</div>
    </div>
    <div>
      display
      <select v-model="canvasState.selection.template.display">
        <option v-bind:value="undefined"></option>
        <option value="flex">flex</option>
      </select>
    </div>
    <div>
      flex direction
      <select v-model="canvasState.selection.template.flexDirection">
        <option value="row">row</option>
        <option value="column">column</option>
      </select>
    </div>
    <div>
      justify content
      <select v-model="canvasState.selection.template.justifyContent">
        <option value="start">start</option>
        <option value="end">end</option>
        <option value="center">center</option>
        <option value="between">between</option>
      </select>
    </div>
    <div>
      align items
      <select v-model="canvasState.selection.template.alignItems">
        <option value="start">start</option>
        <option value="end">end</option>
        <option value="center">center</option>
      </select>
    </div>
    <div>
      <button @click="renderToImage()">render to image</button>
      <img v-if="imageUrl" :src="imageUrl" style="object-fit: contain; width: 100%;" />
    </div>
    <div>
      <div v-for="(parameter, i) of canvasState.selection.template.parameters || []">
        parameter {{i}}
        <input type="text" :value="parameter" @change="changeParameter($event, i)" />
      </div>
      <button @click="addParameter()">add parameter</button>
    </div>
  </div>
  <div>
    <button @click="debug()">debug</button>
  </div>
  <div>
    <button @click="addTemplate()">add template</button>
    <button @click="addText()">add text</button>
    <button @click="addImage()">add image</button>
    <button @click="addColor()">add color</button>
  </div>
</div>
