<div :style="panelStyle">
  <div v-if="canvasState.selection.kind === 'content'">
    <div v-if="canvasState.selection.content.kind === 'text'">
      text
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.text" literalType="text"
        :expression="canvasState.selection.content.textExpression"
        :expressionId="canvasState.selection.content.textExpressionId" @change="changeTextExpression" />
      <br />
      font family
      <input type="text" :value="canvasState.selection.content.fontFamily" @change="changeFontFamily" />
      <br />
      font size
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.fontSize"
        literalType="number" :expression="canvasState.selection.content.fontSizeExpression"
        :expressionId="canvasState.selection.content.fontSizeExpressionId" @change="changeFontSizeExpression" />
      <br />
      color
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.color" literalType="color"
        :expression="canvasState.selection.content.colorExpression"
        :expressionId="canvasState.selection.content.colorExpressionId" @change="changeColorExpression" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'image'">
      url
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.url" literalType="text"
        :expression="canvasState.selection.content.urlExpression"
        :expressionId="canvasState.selection.content.urlExpressionId" @change="changeImageUrlExpression" />
      <div>
        opacity
        <input type="number" :value="canvasState.selection.content.opacity" @change="changeOpacity" />
      </div>
    </div>
    <div v-if="canvasState.selection.content.kind === 'color'">
      color
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.color" literalType="color"
        :expression="canvasState.selection.content.colorExpression"
        :expressionId="canvasState.selection.content.colorExpressionId" @change="changeColorExpression" />
    </div>
    <div>
      x
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.x" literalType="number"
        :expression="canvasState.selection.content.xExpression"
        :expressionId="canvasState.selection.content.xExpressionId" @change="changePositionExpression($event, 'x')" />
    </div>
    <div>
      y
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.y" literalType="number"
        :expression="canvasState.selection.content.yExpression"
        :expressionId="canvasState.selection.content.yExpressionId" @change="changePositionExpression($event, 'y')" />
    </div>
    <div>
      z
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.z" literalType="number"
        :expression="canvasState.selection.content.zExpression"
        :expressionId="canvasState.selection.content.zExpressionId" @change="changePositionExpression($event, 'z')" />
    </div>
    <div
      v-if="canvasState.selection.content.kind === 'text' || canvasState.selection.content.kind === 'image' || canvasState.selection.content.kind === 'color'">
      <div>
        width
        <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.width" literalType="number"
          :expression="canvasState.selection.content.widthExpression"
          :expressionId="canvasState.selection.content.widthExpressionId"
          @change="changeSizeExpression($event, 'width')" />
      </div>
      <div>
        height
        <expression-input :canvasState="canvasState" :literal="canvasState.selection.content.height"
          literalType="number" :expression="canvasState.selection.content.heightExpression"
          :expressionId="canvasState.selection.content.heihtExpressionId"
          @change="changeSizeExpression($event, 'height')" />
      </div>
    </div>
    <template v-if="canvasState.selection.content.kind === 'snapshot'">
      <div v-for="(content, i) of canvasState.selection.content.snapshot.contents">
        <div style="cursor: pointer" @click="selectContent(content)">content {{i}}: {{content.kind}}</div>
      </div>
    </template>
    <div>
      hidden
      <input type="checkbox" :checked="canvasState.selection.content.hidden" @change="changeHidden" />
    </div>
    <div>
      <select :value="canvasState.selection.content.else ? 'true' : 'false'" @change="changeElse">
        <option value="false">if</option>
        <option value="true">else if</option>
      </select>
      <expression-input :canvasState="canvasState" :expression="canvasState.selection.content.if"
        :expressionId="canvasState.selection.content.ifId" @change="changeIf" />
    </div>
    <div>
      repeat
      <expression-input :canvasState="canvasState" :expression="repeat.expression"
        :expressionId="canvasState.selection.content.repeatId" @change="changeRepeatExpression" />
      <input type="text" :value="repeat.itemName" @change="changeRepeatItemName" placeholder="item name"
        style="width: 150px; margin-left: 25px;" />
      <input type="text" :value="repeat.indexName" @change="changeRepeatIndexName" placeholder="index name"
        style="width: 50px;" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'reference'">
      props
      <span style="opacity: 0.5">{{canvasState.selection.content.props}}</span>
      <div v-if="parameters" style="margin-left: 10px;">
        <div v-for="parameter of parameters">
          {{parameter}}
          <expression-input :canvasState="canvasState" :expression="getParameterValue(parameter)"
            :expressionId="getParameterExpressionId(parameter)" @change="changeParameterValue($event, parameter)" />
        </div>
      </div>
    </div>
    <div
      v-if="canvasState.selection.content.kind === 'text' || canvasState.selection.content.kind === 'image' || canvasState.selection.content.kind === 'color'">
      <button @click="extractAsComponent()">extract as component</button>
    </div>
  </div>
  <div v-if="canvasState.selection.kind === 'template'">
    <div>
      name
      <input type="text" :value="canvasState.selection.template.name" @change="changeName" />
    </div>
    <div>
      x
      <input type="number" :value="canvasState.selection.template.x" @change="changePosition($event, 'x')" />
    </div>
    <div>
      y
      <input type="number" :value="canvasState.selection.template.y" @change="changePosition($event, 'y')" />
    </div>
    <div>
      z
      <input type="number" :value="canvasState.selection.template.z" @change="changePosition($event, 'z')" />
    </div>
    <div>
      width
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.template.width" literalType="number"
        :expression="canvasState.selection.template.widthExpression"
        :expressionId="canvasState.selection.template.widthExpressionId"
        @change="changeSizeExpression($event, 'width')" />
    </div>
    <div>
      height
      <expression-input :canvasState="canvasState" :literal="canvasState.selection.template.height" literalType="number"
        :expression="canvasState.selection.template.heightExpression"
        :expressionId="canvasState.selection.template.heightExpressionId"
        @change="changeSizeExpression($event, 'height')" />
    </div>
    <div>
      display
      <select :value="canvasState.selection.template.display" @change="changeFlex('display', $event.target.value)">
        <option v-bind:value="undefined"></option>
        <option value="flex">flex</option>
      </select>
    </div>
    <div>
      flex direction
      <select :value="canvasState.selection.template.flexDirection"
        @change="changeFlex('flexDirection', $event.target.value)">
        <option value="row">row</option>
        <option value="column">column</option>
      </select>
    </div>
    <div>
      justify content
      <select :value="canvasState.selection.template.justifyContent"
        @change="changeFlex('justifyContent', $event.target.value)">
        <option value="start">start</option>
        <option value="end">end</option>
        <option value="center">center</option>
        <option value="between">between</option>
      </select>
    </div>
    <div>
      align items
      <select :value="canvasState.selection.template.alignItems"
        @change="changeFlex('alignItems', $event.target.value)">
        <option value="start">start</option>
        <option value="end">end</option>
        <option value="center">center</option>
      </select>
    </div>
    <div>
      <button @click="renderToImage()">render to image</button>
      <img v-if="imageUrl" :src="imageUrl" style="object-fit: contain; width: 100%;" />
    </div>
    <div>
      <div v-for="(parameter, i) of canvasState.selection.template.parameters || []">
        parameter {{i}}
        <input type="text" :value="parameter" @change="changeParameter($event, i)" />
      </div>
      <button @click="addParameter()">add parameter</button>
    </div>
  </div>
  <div>
    <button @click="debug()">debug</button>
  </div>
  <div>
    <button @click="addTemplate()">add template</button>
    <button @click="addText()">add text</button>
    <button @click="addImage()">add image</button>
    <button @click="addColor()">add color</button>
  </div>
</div>
