<div :style="canvasStyle">
  <div :style="styleGuideStyle">
    <template v-for="r in selectionRegions">
      <div :style="getSelectionAreaStyle(r)">
      </div>
    </template>
    <template v-for="r in canResizeRegions">
      <div :style="getResizeStyle(r)">
        <template v-for="r in resizeRegions">
          <div :style="r"></div>
        </template>
      </div>
    </template>
    <div v-if="canRotateRegion" :style="rotateAreaStyle">
      <div :style="rotateRegion"></div>
      <div :style="rotateCircleRegion"></div>
    </div>
  </div>
</div>
