<div style="display: flex; align-items: center; height: 50px;">
  <input type="text" v-model="styleGuideKey" />
  <button @click="loadStyleGuide()">load style guide</button>
  <button @click="saveStyleGuide()">save style guide</button>
  <input type="text" v-model="templateModelKey" />
  <button @click="loadTemplateModel()">load template model</button>
  <button @click="saveTemplateModel()">save template model</button>
  <button @click="editTemplateModel()">{{ appState.templateModelEditorVisible ? 'hide template model editor' : 'show template model editor' }}</button>
  <button @click="precompile()">precompile</button>
  <button @click="generate()">{{appState.graphicCanvasState ? 'back to template' : 'generate graphic'}}</button>
</div>
