<div>
  <div v-if="canvasState.selection.kind === 'content'">
    <div v-if="canvasState.selection.content.kind === 'text'">
      <input type="text" :value="canvasState.selection.content.text" @change="changeText" />
      <br />
      <input type="text" :value="canvasState.selection.content.textExpression" @change="changeTextExpression" />
      <br />
      <input type="text" :value="canvasState.selection.content.fontFamily" @change="changeFontFamily" />
      <br />
      <input type="number" :value="canvasState.selection.content.fontSize" @change="changeFontSize" />
      <br />
      <input type="color" :value="canvasState.selection.content.color" @change="changeColor" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'image'">
      <input type="text" :value="canvasState.selection.content.url" @change="changeImageUrl" />
    </div>
    <div>
      x
      <input type="number" :value="canvasState.selection.content.x" @change="changeX" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.content.xExpression" @change="changeXExpression" />
    </div>
    <div>
      y
      <input type="number" :value="canvasState.selection.content.y" @change="changeY" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.content.yExpression" @change="changeYExpression" />
    </div>
    <div>
      width
      <input type="number" :value="canvasState.selection.content.width" @change="changeWidth" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.content.widthExpression" @change="changeWidthExpression" />
    </div>
    <div>
      height
      <input type="number" :value="canvasState.selection.content.height" @change="changeHeight" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.content.heightExpression" @change="changeHeightExpression" />
    </div>
    <div>
      hidden
      <input type="checkbox" :checked="canvasState.selection.content.hidden" @change="changeHidden" />
    </div>
    <div>
      if
      <input type="text" :value="canvasState.selection.content.if" @change="changeIf" />
    </div>
    <div>
      repeat
      <input type="text" :value="canvasState.selection.content.repeat" @change="changeRepeat" />
    </div>
    <div>
      props
      <input type="text" :value="canvasState.selection.content.props" @change="changeProps" />
    </div>
    <div v-if="canvasState.selection.content.kind === 'text' || canvasState.selection.content.kind === 'image'">
        <button @click="extractAsSymbol()">extract as symbol</button>
    </div>
  </div>
  <div v-if="canvasState.selection.kind === 'template'">
    <div>
      x
      <input type="number" :value="canvasState.selection.template.x" @change="changeX" />
    </div>
    <div>
      y
      <input type="number" :value="canvasState.selection.template.y" @change="changeY" />
    </div>
    <div>
      width
      <input type="number" :value="canvasState.selection.template.width" @change="changeWidth" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.template.widthExpression" @change="changeWidthExpression" />
    </div>
    <div>
      height
      <input type="number" :value="canvasState.selection.template.height" @change="changeHeight" />
    </div>
    <div>
      <input type="text" :value="canvasState.selection.template.heightExpression" @change="changeHeightExpression" />
    </div>
    <div v-for="content of canvasState.selection.template.contents">
      <div style="cursor: pointer" @click="selectContent(content)">{{content.kind}}</div>
    </div>
  </div>
  <div>
    <button @click="canvasState.applyChanges()">apply changes</button>
    <input type="checkbox" v-model="canvasState.auto">
    auto
    <button @click="debug()">debug</button>
  </div>
  <div>
    <button @click="addTemplate()">add template</button>
    <button @click="addText()">add text</button>
    <button @click="addImage()">add image</button>
  </div>
  <div>
    <input type="text" v-model="styleGuideKey" />
    <br />
    <button @click="loadStyleGuide()">load style guide</button>
    <button @click="saveStyleGuide()">save style guide</button>
  </div>
  <div>
    <input type="text" v-model="templateModelKey" />
    <br />
    <button @click="loadTemplateModel()">load template model</button>
    <button @click="saveTemplateModel()">save template model</button>
  </div>
  <div>
    <button @click="editTemplateModel()">edit template model</button>
  </div>
  <div>
    <button @click="generate()">generate</button>
  </div>
</div>
